[Unit]
Description=Run cargo-target-prune every 30 minutes

[Timer]
OnCalendar=*:05/30
RandomizedDelaySec=2min
Persistent=false

[Install]
WantedBy=timers.target
