[Unit]
Description=Run cass maintenance hourly

[Timer]
OnBootSec=15min
OnCalendar=hourly
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=timers.target
