[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
	branch = master
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule ".claude/skills/humanizer"]
	path = .claude/skills/humanizer
	url = https://github.com/blader/humanizer.git
